@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;700&display=swap");

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 608px;
  margin: 0 auto;
  text-align: center;
}

.header {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-right: 60px;
}

.filter-list {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border-bottom: solid 1px #bdbdbd;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.filter-item {
  padding: 15px;
}

.input-container {
  margin: 18px auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.input-field {
  padding: 20px 12px;
  border-radius: 12px;
  border: solid 1px #bdbdbd;
  flex-grow: 1;
}

.input-btn {
  padding: 20px 40px;
  border-radius: 12px;
  color: #ffffff;
  background-color: #2f80ed;
  border: none;
}
